<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zx.clean" >

    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/IndigoTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.TransparentActivity.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChangThemeActivity" >
        </activity>
        <activity
            android:name=".activity.AppManagerActivity"
            android:label="@string/title_activity_app_manager"
            android:launchMode="singleTop"
            android:theme="@style/IndigoTheme" >
        </activity>
        <activity
            android:name=".activity.RubbishCleanActivity"
            android:launchMode="singleTop"
            android:theme="@style/IndigoTheme" >
        </activity>

        <service
            android:name=".service.CleanerService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activity.CleanCompletedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <service
            android:name=".service.CoreService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activity.MemoryCleanActivity"
            android:launchMode="singleTop"
            android:theme="@style/IndigoTheme" >
        </activity>
        <activity android:name=".activity.AboutActivity" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
